@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --color-background: #17171d;
  --color-text: #ffffff;
  --color-elevated: #252429;
  --color-sunken: #121217;
  --color-primary: #ec3750;
  --color-secondary: #8492a6;
  --color-accent: #5bc0de;

  --font-Montserrat: Montserrat, sans-serif;
}

:root {
    background-color: #17171d;
    font-family: Montserrat, sans-serif;
}
